@media only screen and (min-width: 1024px) {
    h2.shadow {
        color: #E79F1A;
        font-size: 25pt;
        margin: 2%;
        text-shadow: 5px 2px 4px grey;
        font-weight: bold;
    }
    #container {
        box-shadow: 4px 4px 0 0 rgba(72, 72, 72, 1);
        background-color: white;
        border-radius: 25px;
        border: 1px solid black;
        position: absolute;
        display: inline-block;
        top: 3%;
        left: 15%;
        right: 15%;
        bottom: 3%;
    }
    .image-san {
        float: left;
        width: 14%;
    }
    .image-caption,
    .image-text {
        left: 2%;
    }
    .image-caption {
        background-color: rgb(236, 64, 22);
        color: #dbd9b1;
        font-size: 20pt;
        top: 5%;
        position: absolute;
        animation: fade-out 3s infinite;
        animation-delay: 2s;
        height: max-content;
    }
    .image-text {
        background-image: white;
        color: white;
        font-size: 15pt;
        top: 19%;
        width: max-content;
        position: absolute;
        animation: fade-out 3s infinite;
        animation-delay: 2s;
    }
    ul.image-text {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: gray;
    }
    ul.image-text li:before {
        content: '✓';
        color: white;
        background-color: darkgrey;
    }
}