@media only screen and (min-width: 1024px) {
    h2.shadow {
        color: #E79F1A;
        font-size: 35pt;
        margin: 2%;
        text-shadow: 5px 2px 4px grey;
        font-weight: bold;
    }
    #container {
        box-shadow: 4px 4px 0 0 rgba(72, 72, 72, 1);
        background-color: white;
        border-radius: 25px;
        border: 1px solid black;
        position: absolute;
        display: inline-block;
        top: 7%;
        left: 20%;
        right: 20%;
        bottom: 7%;
    }
    .image-san {
        float: left;
        width: 20%;
    }
}