html {
    height: 100%;
    background: linear-gradient(to bottom, white, rgb(238, 209, 106));
}

#container {
    box-shadow: 4px 4px 0 0 rgba(72, 72, 72, 1);
    background-color: white;
    border-radius: 25px;
    border: 1px solid black;
    position: absolute;
    display: inline-block;
    left: 30%;
    padding: 2%;
}

.imagesan {
    width: 14%;
    float: left;
}

h2.shadow {
    color: #E79F1A;
    font-size: 25pt;
    margin: 2%;
    text-shadow: 5px 2px 4px grey;
    font-weight: bold;
}

ul {
    height: 100%;
}

.text-center {
    text-align: center;
}

.body-content {
    float: left;
}

a.text-gray {
    color: darkgrey;
}

a.text-red {
    color: darkred;
}

a:hover {
    color: crimson;
}

a:active {
    color: blue;
}

hr.hr-line {
    border-top: 2px solid orange;
}

.footer-san {
    float: right;
}

strong {
    font-style: italic;
}


/* animation */

.loading {
    width: 100%;
    height: 5px;
    background: orangered;
    animation: loading 5s infinite;
}

@keyframes loading {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}


/* slider css */

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif, sans-serif;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    padding: auto;
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}


/* test slide fade out */

.image-caption {
    color: #f2f2f2;
    position: absolute;
    top: 0;
}

@keyframes fade-out {
    from {
        left: 2%;
    }
    to {
        left: 5%;
    }
}

.image-caption,
.image-text {
    left: 2%;
}

.image-caption {
    background-color: rgb(236, 64, 22);
    color: #dbd9b1;
    font-size: 20pt;
    top: 2%;
    position: absolute;
    animation: fade-out 3s infinite;
    animation-delay: 2s;
    height: max-content;
}

.image-text {
    background-image: white;
    color: white;
    font-size: 15pt;
    top: 19%;
    width: max-content;
    position: absolute;
    animation: fade-out 3s infinite;
    animation-delay: 2s;
}

ul.image-text {
    background-color: gray;
}

ul.image-text,
ul.menu-item {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.image-text li:before {
    content: '✓';
    color: white;
    background-color: darkgrey;
}

.menu-bar {
    overflow: hidden;
}

.menu-bar a {
    float: left;
    width: 15%;
    color: orangered;
    text-decoration: none;
}

.menu-bar a:hover {
    background-color: #ddd;
    color: black;
}


/* responsive menu-bar */

.icon {
    float: right;
}


/* css contact form */

#contact-information,
#contact-information-response {
    float: left;
    color: #666;
}

#tilte-contact {
    color: black;
}

div>input {
    height: 30px;
}

div>input,
div>textarea {
    border: 1px solid #ddd;
    width: 100%;
}

.submit {
    background-color: orangered;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    float: right;
}

#contact-information-response {
    display: none;
}